<STYLE TYPE="text/css">
.menu { }

A  { color: #bb0000; text-decoration: none }
h1 { color: #000000; font-size: 32px; font-family: Times New Roman, Times, Arial, Helvetica; text-align: center }
h2 { color: #000000; font-size: 28px; font-family: Times New Roman, Times, Arial, Helvetica; text-align: center }
h3 { color: #000000; font-size: 22px }
em { color: #c63; font-style: italic; font-weight: bold }
HR { color: #000000 }

</STYLE>
